syntax: glob

**/ant.properties
**/local.properties
crowdin.yaml
**/bin
libadblockplus-android/libs/armeabi*
libadblockplus-android/libs/x86
**/obj
**/gen
*.iml
upload.py
.DS_Store
**/build
.*
!.gitignore
